<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home - Hospital Management System{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Hospital Management System</h1>
    <p class="lead">A comprehensive system for managing hospital appointments and doctor availability.</p>
    <hr class="my-4">
    <p>If you're a new user, please sign up to get started.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:signup' %}" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a>
</div>
{% endblock %}